@media (max-width: 300px) {
  .login-screen-div {
    width: 100vw;
    border-radius: 0;
  }
}

.school-config-buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  button {
    width: 100%;
    margin-bottom: 5px;
  }
}

.login-screen-content.ant-layout-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-screen-div {
  min-width: 288px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  padding: 50px;
}

.login-button {
  width: 100%;
}

.forgot-password-link {
  text-align: center;
}

.profile-select-content.ant-layout-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.profile-select-entry {
  max-width: 90em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 0.3em;
  padding: 1em 3em;
  margin: 1em 0;
  cursor: pointer;

  table tr {
    td {
      text-align: center;
      padding: 0.3em 3em;
    }
  }

  border: 1px solid #1890ff;
}

.school-list-head {
  display: grid;
  grid-template-columns: 2fr 8fr;
  column-gap: 20px;
  margin-bottom: 20px;

  form .ant-row.ant-form-item:nth-of-type(2) {
    margin-right: 0;
  }
}

.consultation-list-head {
  display: grid;
  grid-template-columns: 2fr 2fr 8fr;
  column-gap: 20px;
  margin-bottom: 20px;

  form .ant-row.ant-form-item:nth-of-type(2) {
    margin-right: 0;
  }
}

.ant-form.ant-form-inline {
  justify-content: end;
}

.school-collapse-item.school-collapse-item {
  margin-bottom: 20px;
}

.room-collapse-item.room-collapse-item {
  margin-bottom: 20px;
}

.new-edit-school-content {
  height: 100%;
}

.new-edit-room-content {
  height: 100%;
}

.new-student-content {
  height: 100%;
}

.new-edit-student-content {
  height: 100%;
}

.new-edit-profile-content {
  height: 100%;
}

.new-edit-class-content {
  height: 100%;
}

.edit-school-form-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-room-form-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-student-form-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-student-form-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-class-form-div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-school-form-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-student-form-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-room-form-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-class-form-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-form.ant-form-horizontal {
  width: 50%;
}

.new-school-button {
  width: 100%;
  margin-bottom: 24px;
}

.new-student-button {
  width: 100%;
  margin-bottom: 24px;
}

.new-room-button {
  width: 100%;
  margin-bottom: 24px;
}

.new-class-button {
  width: 100%;
  margin-bottom: 24px;
}

.school-list-spin-div {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.class-list-spin-div {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.room-list-spin-div {
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.school-list-layout {
  height: 100%;
}

.room-list-layout {
  height: 100%;
}

.student-list-layout {
  height: 100%;
}

.class-list-layout {
  height: 100%;
}

.new-school-form {
  min-width: 700px;
}

.new-student-form {
  min-width: 700px;
}

.edit-school-form {
  min-width: 550px;
}

.edit-class-form {
  min-width: 550px;
}

.edit-school-button {
  width: 100%;
  margin-bottom: 0;
}

.edit-class-button {
  width: 100%;
  margin-bottom: 0;
}

.new-room-form {
  min-width: 700px;
}

.edit-room-form {
  min-width: 550px;
}

.edit-room-button {
  width: 100%;
  margin-bottom: 0;
}

.delete-school-button {
  width: 100%;
  margin-bottom: 0;
}

.delete-room-button {
  width: 100%;
  margin-bottom: 0;
}

.schools-not-found-text {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.room-list-head {
  display: grid;
  grid-template-columns: 2fr 8fr;
  column-gap: 20px;
  margin-bottom: 20px;

  form .ant-row.ant-form-item:nth-of-type(2) {
    margin-right: 0;
  }
}

.class-list-head {
  display: grid;
  grid-template-columns: 2fr 8fr;
  column-gap: 20px;
  margin-bottom: 20px;

  form .ant-row.ant-form-item:nth-of-type(2) {
    margin-right: 0;
  }
}

.ant-tooltip-inner {
  a {
    color: #ffffff;
  }
}

.room-config-buttons {
  button {
    width: 100%;
    margin-bottom: 5px;
  }
}

.consultation-additional-info {
  display: flex;
  justify-content: space-around;
  margin: 5px 0px 20px 0px;
}

.delete-appointment-button {
  margin-top: 20px;
}